<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
  <h1>Welcome to Mari's Shopping Cart Service</h1>

  <%= link_to "Shop", "#", class: "btn btn-large btn-primary" %>
  <%= link_to "Sell", "#", class: "btn btn-large btn-primary" %>
</div>
