<% provide(:title, 'Welcome') %>

<div class="span6">
<div class="center hero-unit home">
  <h3>Welcome to Mari's Shopping Cart Service</h3>
    <% if signed_in? %>
      <div id="item_search">
        <%=  form_for(Item.new) do |f| %>
            <input id="item_name" name="item[name]" type="text" placeholder="Search for items" autocomplete="off" />
        <% end %>
        <div id="items">
        </div>
        <%= javascript_tag do %>
            $('#item_name').keyup(function() {
            load();
            });

        <% end %>
      </div>
    <% end %>


</div></div>

<div class="span5">
  <div class="center hero-unit home">
    <% if signed_in? %>
        <h2>Welcome <%= current_storekeeper.name %>!</h2>
        <p>Please utilize the many features of our site!
        You can sell your own products, browse the merchandise of our other sellers,
        and track store activity. Thanks for signing up.</p>
    <% else %>
        <p>Please utilize the many features of our site!
          You can sell your own products, browse the merchandise of our other sellers,
          and track store activity. We encourage you to register to access these features.</p>
        <%= link_to "Sign up", new_storekeeper_path, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
