<% provide(:title, 'Cart') %>
<p id="notice"><%= notice %></p>

<h3>Shopping Cart</h3>


<% if @cart_items.any? %>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Store</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td>Total: $<%= @t %></td>
        <td><%= link_to 'Checkout', checkout_url(:id => @storekeeper.id), class: "btn btn-primary" %></td>
        <td></td>
        <td></td>
      </tr>
      <% @cart_items.each do |item| %>

              <% if Item.find_by_id(item.item_number) %>
                  <%= render(:partial => "storekeepers/cart_items.html", :locals => { :item => item})%>
              <% end %>
    <% end %>

    </table>

<% else %>
    Nothing in your shopping cart yet!
<% end %>