<% provide(:title, 'Shop') %>

<table class="table table-striped table-bordered">
  <tr>
    <th>Store Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.description %></td>
    <td><%= link_to 'Browse Items', shop_url(:id => store.id) %></td>
  </tr>
<% end %>
</table>
